In [1]:
import pandas as pd
import numpy as np
import geocoder # import geocoder
print('Imported')

Imported

In [17]:
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv')
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
df.describe()

         Latitude   Longitude
count  103.000000  103.000000
mean    43.704608  -79.397153
std      0.052463    0.097146
min     43.602414  -79.615819
25%     43.660567  -79.464763
50%     43.696948  -79.388790
75%     43.745320  -79.340923
max     43.836125  -79.160497

In [4]:
!pip install geocoder

Requirement already satisfied: geocoder in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (1.38.1)
Requirement already satisfied: ratelim in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: six in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: click in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: future in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from geocoder) (2.25.1)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from ratelim->geocoder) (5.0.9)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->geocoder) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->geocoder) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests->geocoder) (2.8)

In [5]:

def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [8]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['Postal Code']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [19]:
# Adding Columns Latitude & Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [20]:
df[df['Postal Code'] == 'M5G']

   Postal Code  Latitude  Longitude
57         M5G  43.65609  -79.38493

In [21]:
df.head()

  Postal Code  Latitude  Longitude
0         M1B  43.81139  -79.19662
1         M1C  43.78574  -79.15875
2         M1E  43.76575  -79.17470
3         M1G  43.76812  -79.21761
4         M1H  43.76944  -79.23892

In [12]:
import requests
from bs4 import BeautifulSoup
print("Imported!")

Imported!

In [13]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
extracting_data = requests.get(url).text
wiki_data = BeautifulSoup(extracting_data, 'lxml')

In [15]:
table_contents=[]
table=wiki_data.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)
df1=pd.DataFrame(table_contents)
df1['Borough']=df1['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [16]:
df1.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [22]:
df1_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df1['Latitude'] = df1_coords['Latitude']
df1['Longitude'] = df1_coords['Longitude']

In [25]:
df1[df1.PostalCode == 'M5G']

   PostalCode           Borough        Neighborhood  Latitude  Longitude
24        M5G  Downtown Toronto  Central Bay Street  43.77989  -79.44678

In [27]:
df1.head(15)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.81139,-79.19662
1,M4A,North York,Victoria Village,43.78574,-79.15875
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.76575,-79.17470
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.76812,-79.21761
4,M7A,Queen's Park,Ontario Provincial Government,43.76944,-79.23892
5,M9A,Etobicoke,Islington Avenue,43.74446,-79.23117
6,M1B,Scarborough,"Malvern, Rouge",43.72582,-79.26461
7,M3B,North York,Don Mills North,43.71289,-79.28506
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.72360,-79.23496
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.69510,-79.26466
10,M6B,North York,Glencairn,43.75998,-79.26940
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.75075,-79.30054
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.79452,-79.26708
13,M3C,North York,Don Mills South,43.78491,-79.29722
14,M4C,East York,Woodbine Heights,43.81781,-79.28044